@use 'sass:math';

.card {
    display: block;
    padding: $basic-padding;
    padding-top: 0;
    border: 1px solid black;
    box-shadow: $basic-box-shadow;
    border-radius: $basic-border-radius;

    .card-title {
        font-size: $font-size-lg;
        font-weight: bold;
    }

    .card-body {
        font-size: $basic-font-size;

        a {
            text-decoration: underline;
            display: block;
        }
    }
}

@debug math.div(10, 3);
@debug math.round(3.12);
@debug math.max(21rem, 3rem, 50rem);
@debug math.random(100) + 20;